---
pagination:
  data: collections.posts
  size: 4
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<section class="flex flex-col md:flex-row mt-6">
  <img src="/assets/images/bannegraphic.svg" alt="web development character" width="300" height="325"/>
  <div class="p-4 py-6">
    <h2 class="text-left font-bold text-3xl text-gray-800">
      Your in-house web company
    </h2>
    <p class="text-left mt-2 text-sm">
      The developers at Tumulty Web Services have extensive experience working with information technology and marketing directors, providing them solutions to all there software needs.
    </p>
    <p class="mt-4 font-bold text-base">
      We tailor our solutions to the dynamic problems your business may be facing.
    </p>  
  </div>
</section>
<section class="mt-12 mx-3 md:mx-0">
  <h3 class="text-left font-bold text-3xl text-gray-800 block w-100">
    Our services
  </h3>
  <ul class="mt-6">
    <li class="mb-8 border-2 rounded-md w-100 p-4 flex">
      <img src="/assets/images/api-development.png" width="80" height="77" alt="api development" class="m-3"/>
      <div class="ml-5">
        <h4 class="font-bold">Business API development</h4>
        <p class="text-base py-2">We'll take your business data and transform it into a service consumable by a variety of users and products.  
        </p>
      </div>
    </li>
    <li class="mb-8 border-2 rounded-md w-100 p-4 flex">
      <img src="/assets/images/progressive-web-apps.png" width="80" height="64" alt="progressive web applications" class="m-3"/>
      <div class="ml-5">
        <h4 class="font-bold">Progressive Web Applications</h4>
        <p class="text-base py-2">We'll take your business data and transform it into a service consumable by a variety of users and products.  
        </p>
      </div>
    </li>
    <li class="mb-8 border-2 rounded-md w-100 p-4 flex">
      <img src="/assets/images/cloud-infrastructure.png" width="80" height="80" alt="cloud infrastructure" class="m-3"/>
      <div class="ml-5">
        <h4 class="font-bold">Cloud Infrastructure</h4>
        <p class="text-base">
          <strong class="block">Description</strong>
          <strong class="block">How it works</strong>
          <strong class="block">Business value</strong>
        </p>
      </div>
    </li>
    <li class="mb-8 border-2 rounded-md w-100 p-4 flex">
      <img src="/assets/images/email-marketing.png" width="80" height="67" alt="email marketing" class="m-3"/>
      <div class="ml-5">
        <h4 class="font-bold">Email Marketing</h4>
        <p class="text-base">
          <strong class="block">Description</strong>
          <strong class="block">How it works</strong>
          <strong class="block">Business value</strong>
        </p>
      </div>
    </li>
  </ul>
</section>
<section class="mt-12 mx-3 md:mx-0">
  <h3 class="text-left font-bold text-3xl text-gray-800">
    Blog
  </h3>
<ul class="mt-6">
  <% list.forEach((post) => { %>
  <li class="mb-3 flex justify-between">
    <a href="<%= post.url %>"><%= post.data.title %></a>

    <div><%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %></div>
  </li>
  <% }) %>
</ul>

<div class="text-sm flex justify-between">
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div class="text-right ml-auto">
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
  </div>
  <% } %>
</div>

</section>
<section class="mt-12 mx-3 md:mx-0">
  <h3 class="text-left font-bold text-3xl text-gray-800">
    How we do things
  </h3>
  <p class="text-base">I'll be starting a discord account soon and recording live code-a-longs often with a beer, a glass of wine, or whiskey...</p>
</section>
<section class="mt-12 mx-3 md:mx-0">
  <h3 class="text-left font-bold text-3xl text-gray-800">
    Get in touch
  </h3>
  <form class="kwes-form flex flex-col" action="https://kwes.io/api/foreign/forms/WZ4VpwjVhOKihgFOiglw">
    <input
      type="text"
      name="name"
      placeholder="Full name"
      class="mt-4 p-2 border-2 border-green-500 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="mt-4 p-2 border-2 border-green-500 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <input
      type="phone"
      name="phone"
      placeholder="Phone"
      class="mt-4 p-2 border-2 border-green-500 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <textarea
      rows="10"
      name="message"
      placeholder="Why you are reaching out..."
      class="mt-4 p-1 border-2 border-green-500 focus:border-green-500 block w-100 text-sm rounded-md"
    >
    </textarea>
    <button
      class="focus:outline-none w-32 mt-5 py-2 rounded-md font-semibold text-white bg-green-600 ring-4 ring-green-300"
      type="submit">
        Send
    </button>
</form>
</section>
<footer class="w-100 block mt-10 border-t pt-4  mx-3 md:mx-0">
  <p class="text-sm">Tumulty Web Services ©️ 2020</p>
</footer>
